extends layout

block content
  h1= title
  div#error(style:{display:block;}) 

  form(id='appleForm', action="/resource/apples", method="POST")
    div.form-group
        label.costumeAttr(for='applename') Apple name
        input#applename(type='text', name='applename')
    div.form-group
        label.costumeAttr(for='price') Apple price
        input#price(type='number', name='price')
    div.form-group
        label.costumeAttr(for='color') Apple color
        input#color(type='text', name='color')
    input(type="submit")

  script.
    document.forms['appleForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
         document.getElementById("error").style.display="block"
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       if(body.name){
          document.getElementById("error").innerHTML=`${body.name}  \n ${body.message}\n`;
          alert("Save Failed")
        }else{
           alert("Save succeded")
        }
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });
